Binaries
DerivedDataCache
Intermediate
Saved
.idea
.vscode
.vs
*.VC.db 
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
Content/SideScrollerCPP/Maps/Jing_Map_BuiltData.uasset
Content/SideScrollerCPP/Maps/Yuan_Map_BuiltData.uasset

/Plugins
*.sln
Config/DefaultEditorSettings.ini
Config/DefaultEngine.ini